.places__heading {
  font-size: 72px;
  font-weight: 900;
  max-width: 460px;
  margin: 0;
  padding: 0;
  line-height: 1.06;
  grid-area: header;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .places__heading {
    max-width: 440px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .places__heading {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.1;
    align-self: end;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .places__heading {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
    margin: 0 16px 0 16px;
  }
}
