.places__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.222222;
  max-width: 456px;
  padding: 0;
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
  color: #fff;
}

.places__link:hover {
  opacity: 0.8;
}
