.lead {
  max-width: 984px;
  margin: 58px auto 92px auto;
  padding: 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    margin: 50px auto 92px auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead {
    width: 100%;
    max-width: 100%;
    margin: 0 0 88px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead {
    width: 100%;
    margin-bottom: 64px;
  }
}
