.header {
  display: flex;
  justify-content: space-between;
  max-width: 984px;
  padding: 0;
  margin: 34px auto 58px auto;
}

@media (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 288px;
    margin-top: 20px;
  }
}
