.footer__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    max-width: 165px;
  }
}
