.footer__link {
  color: #fff;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
  padding: 0;
  margin: 0 18px 0 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    padding-bottom: 19.5%;
  }
}
