.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  max-width: 165px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 320px) {
  .footer__copyright {
    line-height: 1;
    width: 100%;
  }
}
