.cover {
  margin: 92px auto;
  padding: 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover {
    margin-top: 89px;
    margin-bottom: 89px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cover {
    max-width: 100%;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
