.places__place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 48px 40px;
  grid-template-areas:
    "header website"
    "photo text-container";
  max-width: 984px;
  margin: 0 auto 80px auto;
}

.places__place:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .places__place {
    max-width: 928px;
    grid-gap: 48px 32px;
  }

  .places__place:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .places__place {
    margin-bottom: 73px;
    grid-gap: 48px 28px;
    max-width: 720px;
  }

  .places__place:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 461px) and (max-width: 767px) {
  .places__place {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 460px) {
  .places__place {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 48px;
  }

  .places__place:last-of-type {
    margin-bottom: 0;
  }
}
