.places__text-container {
  max-width: 484px;
  grid-area: text-container;
}

@media (min-width: 320px) and (max-width: 1278px) {
  .places__text-container {
    max-width: 90%;
    margin: 0 16px 0 16px;
  }
}
