.footer {
  display: flex;
  margin: 0 48px 24px 48px;
  max-width: 100%;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    margin-right: calc(48px / 2);
    margin-left: calc(48px / 2) x;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    margin-left: calc(48px / 3);
    margin-right: 8%;
  }
}
