.places__website {
  max-width: 456px;
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 768px) and (max-width: 1278px) {
  .places__website {
    max-width: 352px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .places__website {
    max-width: 288px;
  }
}
