.cover__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1184px;
  min-height: 740px;
  color: #fffdfd;
  position: relative;
  text-decoration: none;
  background-size: cover;
  background-image: url(../../../images/cover-route-66.jpg);
  background-position: center;
  margin: 0 auto;
}

.cover__content::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  position: absolute;
  background: #2a2c2f;
  transition: opacity 0.5s ease;
}

.cover__content:hover::before {
  opacity: 0.8;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__content {
    min-height: 640px;
    max-width: 1279px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover__content {
    width: 100%;
    min-height: 480px;
    max-width: 1023px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cover__content {
    min-height: 200px;
    max-width: 767px;
  }
}
